<!--The content below is only a placeholder and can be replaced.-->
<!--Sources used angular and angularfirebase. All sources in Readme Doc-->
<!--All that needs to be in here is the route that points to the chat-dialog!! otherwise
it won't work!!!!!!!!!-->
<chat-dialog></chat-dialog>
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="assets/icons/android-chrome-512x512.png" width="225px" alt="Little Bits Logo">
  <div style="text-align: center">
    <h2>Get the down low or just ask BitzBot:</h2>
  </div>
<option *ngFor="let message of messages | async">
  <div class ="message" [ngClass]="{ 'from': message.sentBy === 'bitsbot', 'to': message.sentBy === 'user' }">
      {{ message.content }}
  </div>
</option>

<label for="nameField">You:</label> -->
<!--<select class="form-control" id="formValue"
      [(ngModel)]="keyup.enter" name="sendMessage()"></select> -->
      <!--when user presses the enter key, keyup.enter is binded by angular-->
<!-- <input type="text" class="form-control" [(ngModel)]="formValue" (keyup.enter)="sendMessage()"> 
<button (click)="sendMessage()">Send</button> -->
<!--<button (click)="onClickMe()">Send</button> -->

<!--<router-outlet></router-outlet>-->
<!--<chat-dialog></chat-dialog> --> 